/*
body {

} 
*/

#affiliateheaderforcp {
width: 100%;
height: 32px;
margin: 0px auto 0px;
}

#affiliateflashheaderforcp {
width: 100%;
height: 64px;
margin: 0px auto 0px;
}

#affiliatefooter {
margin: 5px auto 0px;
clear: both;
width: 100%;
text-align: left;
height: 57px;
color: #fff;
}
/*
     FILE ARCHIVED ON 19:44:39 Jan 30, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:25:37 Feb 09, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.734
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.085
  RedisCDXSource: 1.599
  esindex: 0.008
  LoadShardBlock: 67.525 (3)
  PetaboxLoader3.datanode: 94.618 (4)
  CDXLines.iter: 24.159 (3)
  load_resource: 1072.069
  PetaboxLoader3.resolve: 1021.209
*/