/* CSS Document */

html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	line-height:1.2em;

}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,ul {
	list-style: none;
}

q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}

a img,:link img,:visited img { 
	border:none 

}

sup {
line-height: 0;
vertical-align: text-top;

}

/*
     FILE ARCHIVED ON 19:44:54 Jan 30, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:25:34 Feb 09, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.resolve: 69.007
  exclusion.robots: 0.163
  LoadShardBlock: 94.666 (3)
  RedisCDXSource: 12.966
  PetaboxLoader3.datanode: 1108.16 (4)
  captures_list: 131.333
  esindex: 0.012
  CDXLines.iter: 19.987 (3)
  exclusion.robots.policy: 0.152
  load_resource: 1106.813
*/